{% extends 'base.html.twig' %}
{% block body %}
    <section class="container">
        <div class="card">
            <h2>CRUD Users</h2>
            <p><a href="{{ path('app_user_index') }}">Accéder</a></p>
            <p>Les routes /edit et / new renvoie des erreurs ce qui rend impossible leur utilisation.</p>
        </div>

        <div class="card">
            <h2>CRUD Category</h2>
            <p><a href="{{ path('app_category_index') }}">Accéder</a></p>
        </div>

        <div class="card">
            <h2>CRUD Transactions</h2>
            <p><a href="{{ path('app_transaction_index') }}">Accéder</a></p>
        </div>

        <div class="card">
            <h2>CRUD PaymentMethod</h2>
            <p><a href="{{ path('app_payment_method_index') }}">Accéder</a></p>
        </div>
    </section>
{% endblock %}
